* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans2";
}
body {
 
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  color: var(--main-color);
}
@font-face {
  font-family: "DM Sans2";
  src: url("../fonts/DMSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans3";
  src: url("../fonts/DMSans-Regular.ttf");
  font-weight: 200;
  font-style: normal;
}
.f-b {
  font-family: "DM Sans";
}
.f-m {
  font-family: "DM Sans2";
}
.f-s {
  font-family: "DM Sans3";
}
.mb100{
  margin-bottom: 100px;
}
h1,
h2 {
  font-family: "DM Sans";
}
p {
  font-family: "DM Sans3";
}
:root {
  --main_color: #FF7443;
  --scound_color: #19A0BB;
  --white_color: #ffffff;
}
p {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}

html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-thumb {
  background: linear-gradient(82deg,#FF7443 , #19A0BB);
  border-radius: 30px;
}
html::-webkit-scrollbar-track {
  background-color: transparent;
}
.m-b {
  margin-bottom: 100px;
}
.hide{
  display: none !important;
}
.head_title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.head_title h2{
  text-align: center;
  font-size: 32px;
  line-height: 42px;
}
.head_title span{
  font-size: 96px;
  line-height: 125px;
  text-align: center;
  color: #FF7443;
  transition: 0.3s;
}
.head_title:hover span {
  padding: 0px 10px 0px 10px;

}
.head_title::before {
 
}
@media(max-width:580px){
  .head_title span {
    font-size: 56px;
    line-height: 100px;
}
.head_title h2 {
 
  font-size: 20px;
  line-height: 42px;
}
}
.btn_page {
  width: 236px;
  height: 44px;
  background: var(--main_color);
border: 2px solid var(--main_color);
border-radius: 10px;
display: flex;
align-items: center;
justify-content: center;
font-size: 16px;
line-height: 21px;
color: #FFFFFF;
transition: 0.3s;
}
.btn_page:hover {
  background: var(--white_color);
  border: 2px solid var(--main_color);
  color: var(--main_color);
}
.btn_page2 {
  width: 236px;
  height: 44px;
  background: var(--white_color);
border: 2px solid var(--main_color);
border-radius: 10px;
display: flex;
align-items: center;
justify-content: center;
font-size: 16px;
line-height: 21px;
color: var(--main_color);
transition: 0.3s;
}
.btn_page2:hover {
  background: var(--main_color);
  border: 2px solid var(--main_color);
  color: #FFFFFF;
}
@media (max-width: 500px) {
  .btn_page2,
  .btn_page {
    font-size: 16px;
  }
}
/*==================================start navbar==============================*/
/*start navbar*/
/* Remove border from toggler */

.navbar {

  padding-top: 1rem;
}
.navbar-toggler {
  border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon{
  width: 30px;
  height: 3px;
  background-color: var(--main_color);
  display: block;
  transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar{
  margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
  background-color: var(--scound_color);
}
.navbar-collapse {
  flex-grow: 0.5; 
 
}

.navbar-nav{
  margin: 0 !important;
  gap: 22px;
 
}
.navbar-collapse {
  justify-content: space-between;

}
.navbar-brand{
 margin: 0;
}
.navbar-brand img{
 
}
.navbar-nav .nav-link{
  font-size: 16px;
  line-height: 21px;
  color: black;
}
.navbar-nav .nav-link.active{
  color: var(--main_color);
}
.navbar .btn-lang{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
border: none;
gap: 8px;
}
.navbar .btn-lang p{
  font-size: 16px;
  line-height: 21px;
}
@media (min-width: 992px){
.navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: space-between; 
}
}
@media (max-width: 1200px){
  .navbar-brand img {
    width: 280px;
}
  
  }
@media (max-width: 992px){
  
  .btn-lang {
    
  
    width: 80%;
    margin: 20px auto;
}
  .navbar-collapse{
    background-color: var(--scound_color);
      border-radius: 10px;
  }
  .navbar-nav {
    align-items: center;
    padding: 20px;
}
  }
  @media (max-width: 580px){
    .navbar-brand img {
      width: 220px;
  }
  .toggler-icon {
    width: 26px;
    height: 2px;
   
}
.navbar-toggler {
  margin-top: 8px;
}
  }
/*==================================end navbar==============================*/
/*==================================start header==============================*/
header {
  position: relative;

}
.mb{
  margin-bottom: 200px;
}
header .imgHeader {
  max-width: 1400px;
  max-height: 636px; 
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
}

header .imgHeader .mainImg {
  height: auto;
  min-width: 600px;
  max-width: 100%;
}
header .topHeader{
text-align: center;
color: #FFFFFF;
margin: auto;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
z-index: 50;
width: 100%;
}
header .topHeader .titleHeader{
  font-size: 64px;
line-height: 83px;
text-align: center;
margin-bottom: 28px;

}
header .topHeader .titleHeader span{
  color: var(--main_color);
}
header .topHeader h3{
  font-size: 40px;
line-height: 52px;
margin-bottom: 42px;

  
}
header .topHeader .btn_header{
  width: 340px;
height: 60px;
border: 2px solid #FFFFFF;
border-radius: 10px;
font-size: 24px;
line-height: 31px;
text-align: center;
color: #FFFFFF;
display: flex;
align-items: center;
justify-content: center;
background-color: transparent;
margin: auto;
}
@media (max-width: 1200px){
  .mb{
    margin-bottom: 0px;
  }
}
@media (max-width: 768px){
  header .topHeader .titleHeader {
    font-size: 30px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 10px;
}
  header .topHeader h3 {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 24px;
}
header .topHeader .btn_header {
  width: 240px;
  height: 48px;
 
  font-size: 18px;
 
}
  }
/*==================================end header==============================*/

/*==================================start numbers==============================*/
.numbers {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  position: absolute;
  bottom: -22%;
  left: 50%;
  transform: translateX(-50%);
  
}
.numbers .item{
text-align: center;
background: #FFFFFF;
box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.16);
border-radius: 10px;
min-width: 270px;
flex-grow: 1;
max-width: 500px;
padding: 22px 16px 30px;
}
.numbers .item img{
  width: 72px;
height: 72px ;
object-fit: contain;
margin: auto;
margin-bottom: 8px;
}
.numbers .item h3{
  font-size: 40px;
line-height: 52px;

}
.numbers .item p{
  font-size: 20px;
line-height: 26px;
}
@media (max-width: 1200px){
  .numbers {
    position: relative;
    left: 0;
    transform: translateX(0%);
    margin: 50px auto 100px;
    flex-wrap: wrap;
  }
}
/*==================================end numbers==============================*/
/*==================================start ourPrograms==============================*/

.ourPrograms{
overflow: hidden;
}
.ourPrograms.backcolor{
padding: 40px 0px 50px;
background: rgba(25, 160, 187, 0.05);
margin: 60px 0px 48px;
}
.ourPrograms .head_title{
margin-bottom: 28px;
}
.ourPrograms h2{
    max-width: 220px;
}
.ourPrograms span{
 
}
.ourPrograms .row_rev{
flex-direction: row-reverse;
}
.programs{
display: flex;
align-items: center;
justify-content: space-between;
position: relative;
margin-bottom: 50px;
}
.programs h3{
  font-size: 32px;
line-height: 42px;
color: var(--main_color);
margin-bottom: 12px;
}
.programs h4{
  font-size: 24px;
line-height: 31px;
color: #515151;
max-width: 540px;
}
.programs p{
  font-size: 20px;
  line-height: 26px;
  color: #515151;
  margin-bottom: 8px;
}
.programs ul{
list-style:disc;
margin-bottom: 28px;
}
.programs ul li{
color: var(--scound_color);
font-size: 20px;
line-height: 30px;
}
.programs .btn_page{

}
.programs .img_programs{
  height: 514px;
  width: auto;
}
@media(max-width:992px){
  .ourPrograms .row_rev {
    flex-direction: row;
}
  .programs .img_programs{
    height: 120%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    opacity: 0.2;
  }
  .programs {
  
    margin: 70px auto;
}
}
@media(max-width:580px){
  .programs h3 {
    font-size: 28px;
    
    margin-bottom: 8px;
}
.programs h4 {
  font-size: 20px;

}
.programs p ,.programs ul li{
  font-size: 18px;
 
}
 
}
/*==================================end ourPrograms==============================*/

/*==================================start courses==============================*/
.courses{

}
.courses .head_title {
  margin-bottom: 38px;
}
.courses .head_title h2{
  max-width: 192px;
}
.courses .items{
display: flex;
align-items: center;
gap: 60px 20px;
flex-wrap: wrap;
justify-content: center;
}
.courses .items .item{
width: 270px;
}
.courses .items .item img{
  width: 270px;
  height: 152px;
}
.courses .items .item h3{
  font-size: 16px;
  line-height: 21px;
}
.courses .items .item h4{
  font-size: 16px;
  line-height: 21px;
  color: #706C6C;
}
.courses .items .item p{
  font-size: 14px;
line-height: 18px;
color: var(--main_color);
margin-bottom: 8px;
}
 .price{
display: flex;
align-items: center;
gap: 8px;
}
 .price .sall{
  font-size: 14px;
  line-height: 18px;
  text-decoration-line: line-through;
  color: #989898;
}
 .price .priceNow{
  font-size: 20px;
  line-height: 26px;
}
.courses .btn_page2{
  margin: 38px auto 0px;
}

@media(max-width:768px){
  .courses .items .item img{
    width: auto;
    height: 110px;
  }
  .courses .items .item{
    width: fit-content;
    }
    .courses .items .item .price .priceNow {
      font-size: 16px;
     
  }
  .courses .items .item .price .sall {
    font-size: 12px;
   
}
.courses .items {
 
  gap: 20px;
  align-items: flex-start;
 
}
}
@media(max-width:432px){
  .courses .items .item {
    width: 47%;
}
.courses .items .item img {
  width: 100%;
  height: 100px;
}
}
@media(max-width:370px){
  .courses .items .item img {
    width: 80%;
    height: 100%;
    display: block;
    margin: auto;
}
.courses .items .item {
  width: 100%;
  
}
}
/*==================================end courses==============================*/ 

/*==================================start reviews==============================*/
.reviews{
padding: 36px 0px;
background: rgba(255, 116, 67, 0.2);
overflow: hidden;
}
.reviews .head_title{
  margin-bottom: 20px;
}
.reviews .head_title h2{
  
}
.reviews .content {
  display: flex;
  align-items: center;
  gap: 50px;
justify-content: space-between;
}
.reviews .content .part1{
  position: relative;
  width: fit-content;
  display: flex;
    justify-content: center;
}
.reviews .content .part1 .imgReviews1{
  

}
.reviews .content .part1 .imgReviews2{

  position: absolute;
  z-index: 2;
  left: 50%;
 
  transform: translateX(-50%);
  animation: 1s linear 1s infinite alternate slidein;
}


@keyframes slidein {
  from {
    bottom: 0;
  }

  to {
    bottom: 10px;
  }
}

.reviews .content .ts {
  max-width: 860px;
  width: 100%;
}
.reviews .content  .item{
  
}
.reviews .content .ts .item img {
  height: 255px;
 
  width: 100%;
  max-width: 430px;
  margin: auto;
}

.reviews .content .ts .owl-dots{
  margin-top: 44px;

}

.reviews .content .ts .owl-dot span{
  width: 12px;
  height: 12px;
  background: #D9D9D9;
}
.reviews .content .ts .owl-dot.active span{
  background: #6685C9;

}
@media(max-width:1200px){
  .reviews .content {
    justify-content: center;
    flex-wrap: wrap;
}
}
@media(max-width:992px){
  .reviews .content .ts .item img {
    max-height: 255px;
   
    height: 100%;
}
}
/*==================================end reviews==============================*/


/*==================================start ourPartners==============================*/
.ourPartners{

}
.ourPartners .head_title{
  margin-bottom: 38px;
}
.ourPartners .partners{
display: flex;
align-items: center;
justify-content: space-between;
gap: 20px;
flex-wrap: wrap;
}
.ourPartners .partners img{

  margin: auto;
height: 70px;
width: auto;
max-width: 100%;
}
@media(max-width:768px){
  .ourPartners .partners img{

   
  height: 46px;
 
  }
}
/*==================================end ourPartners==============================*/
/*==================================start page courses==============================*/
.courses .btn_age {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px 40px;
  margin-top: 50px;
  margin-bottom: 28px;
  flex-wrap: wrap;
}
.courses .btn_age button{
  width: 138px;
height: 44px;
font-size: 16px;
font-family: "DM Sans3";
line-height: 21px;
border: none;
border-radius: 10px;
color: #515151;
background: #EDEDED;
}
.courses .btn_age button.active{
  background: var(--scound_color);
  color: #FFFFFF;
  font-family: "DM Sans";
}
.courses .btn_filter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px 60px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}
.courses .btn_filter button{
  background-color: transparent;
  border: none;
  font-size: 20px;
line-height: 26px;
color: #515151;
font-family: "DM Sans3";
}
.courses .btn_filter button.active{
  text-decoration-line: underline;
color: var(--scound_color);
font-family: "DM Sans";

}
@media(max-width:432px){
  .courses .btn_age {
    
    gap: 18px 16px;
    
}
.courses .btn_filter button {
 
  font-size: 18px;
 
}
.courses .btn_filter {
  gap: 20px 22px;
}
}
/*==================================end page courses==============================*/ 


/*==================================start courseDetails==============================*/
.courseDetails{

}
.courseDetails .cart{
display: flex;

justify-content: center;
gap: 20px;
}

.courseDetails .cart  img{
  height: 370px;
  width: auto;
  max-width: 100%;
}
.courseDetails .cart .part2{

}
.courseDetails .cart .part2 h2{
  font-size: 24px;
  line-height: 31px;
}
.courseDetails .cart .part2 h3{
  font-size: 16px;
  line-height: 21px;
  color: var(--scound_color);
}
.courseDetails .cart .part2 .btn_page2{
margin-top: 8PX;
}
.courseDetails .cart .part2 ul{
margin-top: 30px;
padding: 0;
max-width: 514px;
}
.courseDetails .cart .part2 ul li{
margin-bottom: 8px;
}
.courseDetails .cart .part2 ul li h4{
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 4px;
}
.courseDetails .cart .part2 ul li p , .courseDetails .cart .part2 ul li a{
  font-size: 16px;
  line-height: 25px;
  color: #404040;
  font-family: "DM Sans3";
}
.courseDetails .cart .part2 ul li a{
  text-decoration: underline;
}
.courseDetails .curriculum{
margin-top: 74px;
}
.courseDetails .curriculum h2{
margin-bottom: 12px;
font-size: 20px;
line-height: 26px;
}
.courseDetails .curriculum ul{
padding: 0;

}
.courseDetails .curriculum ul li{
display: flex;
gap: 20px;
margin-bottom: 8px;
}
.courseDetails .curriculum ul li h3{
  font-size: 16px;
  line-height: 25px;
  margin: 0;
}
.courseDetails .curriculum ul li p{
  font-size: 16px;
  line-height: 25px;
}
@media(max-width:1200px){
  .courseDetails .cart img {
    height: 240px;
  
}
}
@media(max-width:992px){
  .courseDetails .cart img {
    height: 180px;
}
}
@media(max-width:768px){
  .courseDetails .cart {
  
    flex-direction: column;
    align-items: center;
}
}
/*==================================end courseDetails==============================*/ 


/*==================================start bookingForm==============================*/
.bookingForm{
margin-top: 90px;
}
.bookingForm h2{
  font-size: 32px;
line-height: 42px;
text-align: center;
}
.bookingForm h2 span{
  color: var(--main_color);
}
.bookingForm .content{
  border: 1px solid #D2D2D2;
border-radius: 10px;
padding: 32px 16px;
margin: 28px auto 0px; 
max-width: 682px;

}
.bookingForm .content h3{
  font-size: 20px;
line-height: 26px;
color: #515151;
margin-bottom: 60px;
text-align: center;
}
.bookingForm .content form{
  margin: auto;
  max-width: 458px;
}
.form_page{
 
width: 100%;

}
.form_page label{
  font-size: 16px;
line-height: 21px;
color: #2E1F26;
margin-bottom: 8px;
}
.form_page label span{
  color: #FC0F0F;
}
.form_page .form-control{
  background-color: transparent;
  outline: none;
  border: 1px solid #DBDBDB;
border-radius: 10px;
padding: 6px 16px;

height: 40px;
}
.form_page .form-control::placeholder{
  font-size: 14px;
  line-height: 25px;
  color: #999999;
font-family: "DM Sans3";
}
.bookingForm .content form .btn_page{
  margin: 44px auto 10px;

}
@media(max-width:500px){
  .bookingForm .content {
   
 
    padding: 32px 6px;
    
}
.bookingForm h2 {
  font-size: 26px;
 
}
.bookingForm .content {
 

  margin: 18px auto 0px;

}
.bookingForm .content h3 {
  font-size: 18px;
  
  margin-bottom: 22px;
  
}
}
/*==================================end bookingForm==============================*/




/*==================================start about==============================*/
.about{
display: flex;
align-items: center;
justify-content: space-between;
gap: 50px;
}
.about .part{
  max-width: 512px;
}
.about .part .head_title{
  justify-content: flex-start;
  margin-bottom: 14px;
}
.about .part .head_title span{
  font-size: 64px;
line-height: 83px;

}
.about .part p{
  font-size: 20px;
line-height: 25px;
}
.about .part p:not(:last-of-type){
  margin-bottom: 26px;
}
.about .part p br{
  margin-bottom: 20px;
}
.about .aboutimg{
  height: 492px;
  width: auto;
}
.ourVission{
  background: rgba(25, 160, 187, 0.05);
  padding: 58px 0px;
}
.ourVission .content{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
flex-wrap: wrap;

}
.ourVission .content .part{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
.ourVission .content .part img{
  width: 66px;
height: 66px;
object-fit: contain;
}
.ourVission .content .part h2{
  font-size: 20px;
line-height: 26px;
}
.ourVission .content .part p{
  font-size: 16px;
line-height: 21px;
max-width: 370px;
}

.gallery{

}
.gallery .imgGallery{
 margin-top: 30px; 
}
.gallery .imgGallery  .owl-nav{
  
}
.owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent;
 
}
.gallery .imgGallery  .owl-nav button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.gallery .imgGallery  .owl-nav .owl-prev{
  left: -50px;
}
.gallery .imgGallery  .owl-nav .owl-next{
  right: -50px;
}
.owl-carousel .owl-stage-outer {
  
  direction: initial;
}
.gallery .imgGallery .item {
  max-width: 560px;
  max-height: 490px;
  border-radius: 10px;
  margin: auto;
  height: 100%;
}
.gallery .imgGallery .item p{
  font-size: 16px;
line-height: 21px;
text-align: center;
margin-top: 12px;
}
.gallery .imgGallery .item img{
  width: 100%;
  height: 100%;
}
.gallery .imgGallery .owl-dot span{
  width: 12px;
height: 12px;
background: #E6E6E6;
}
.gallery .imgGallery .owl-dot.active span{
  background: #FF7443;
}

@media(max-width:992px){
  .about .aboutimg{
  display: none;
  }
}

/*==================================end about==============================*/


/*==================================start career==============================*/
.career{
overflow: hidden;
}
.career .career_h2{
  font-size: 32px;
line-height: 42px;
margin-bottom: 12px;
}
.career .career_p{
  font-size: 20px;
line-height: 30px;
margin-bottom: 70px;
}
.career .form_Career {
  display: flex;
  justify-content: space-between;
  gap: 40px;
position: relative;
padding: 60px 18px 52px;
box-shadow: 0px 1px 5px #7474745c;
    margin: 10px 0px;
}
.career .form_Career::before {
  content: "";
  position: absolute;
  background-image: url('../images/backimgCareer.webp');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

html[dir=rtl] .career .form_Career::before {
  transform: rotateY(180deg);
}
.career .form_Career  .part1{
  width: fit-content;
}
.career .form_Career  .part1 .form-check{
  margin-bottom: 10px;
}
.career .form_Career  .part1 h3{
  font-size: 24px;
line-height: 31px;
color: #2E1F26;
margin-bottom: 18px;
}
.career .form_Career .part1 input {
  width: 18px;
   border-radius: 2px; 
  height: 18px;
  float: left;
}
html[dir=rtl] .career .form_Career .part1 input{
  float: right;
}
.form-check-input:checked {
  background-color: #FF7443;
  border-color: #FF7443;
}
 

.career .form_Career  .part1 label {
  font-size: 16px;
line-height: 30px;
font-family: "DM Sans3";
padding: 0px 6px;
}
.career .form_Career .part2{
  max-width: 636px;
  
}
.career .form_Career .upload{
  height: 34px;
  margin-top: 14px;
  position: relative;
}
.career .form_Career .upload input{
  cursor: pointer;
    direction: rtl;
    height: 100%;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    width: 202px;
    z-index: 50;
}
.career .form_Career .upload button{
  align-items: center;
    background: none;
    border: none;
    display: flex;
    height: 100%;
    justify-content: center;
}
.career .form_Career .upload button .plus{
  color: var(--main_color);
    font-size: 48px;
    line-height: 62px;
}
.career .form_Career .upload button label{
  font-size: 16px;
line-height: 21px;
color: #2E1F26;
    margin: 0;
    text-align: center;
    padding: 0px 8px;

}
.career .form_Career .upload button label span{
  color: var(--main_color);
} 
.career textarea{
  min-height: 110px;
}
@media(max-width:992px){
  .career .form_Career {
  
    flex-wrap: wrap;
}
}
@media(max-width:992px){
  .career .career_h2 {
    font-size: 28px;
    
    margin-bottom: 8px;
}
  .career .career_p {
    font-size: 18px;
   
    margin-bottom: 46px;
}
}
/*==================================end career==============================*/
/*==================================start contact==============================*/

.contact {
  display: flex;
  justify-content: space-between;
  gap: 50px;
 
}
.contact .part1{

}
.contact .part1 h3 ,.contact .part1 h4{
  font-size: 24px;
  line-height: 31px;
  
  color: #2E1F26;
  margin-bottom: 16px;
}
.contact .part1 .address{
display: flex;
align-items: center;
gap: 10px;
margin-bottom: 50px;
}
.contact .part1 .address img{
height: 16px ;
width: auto;
}
.contact .part1 .address p{
  font-size: 16px;
  line-height: 25px;
  color: #404040;
  max-width: 380px;
}
.contact .part1 h4{ 

}
.contact .part1 ul{
padding: 0;
}
.contact .part1 ul li{
  margin-bottom: 12px;
}
.contact .part1 ul li a{
display: flex;
align-items: center;
gap: 8px;

}
.contact .part1 ul li img {
  width: auto;
  height: 15px;
  object-fit: contain;
}
.contact .part1 ul li p{
  font-size: 16px;
  line-height: 21px;
  color: #404040;
}
.contact  .part2{
max-width: 636px;
}
.contact  .part2 h3{
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 28px;
  color: #2E1F26;
}
.contact  .part2 form input{
max-width: 460px;
}
.contact  .part2 form textarea{
min-height: 110px;
  }
  .contact  .part2 form .btn_page{
    margin-top: 28px;
  }
.contact  .part2 form input[type="tel"]{
    padding-left: 60px;
    position: relative;
  }
  
  .contact  .part2 form .tel{
    max-width: 460px;
    position: relative;
  }
  .contact .part2 form .tel::before {
    content: "+20";
    position: absolute;
    left: 12px;
    top: 50%;
    z-index: 50;
    font-size: 14px;
    line-height: 25px;
    transform: translateY(-50%);
}
.contact .part2 form .tel::after {
  content: "";
  position: absolute;
  left: 44px;
  top: 0;
  z-index: 50;
 height: 100%;
 width: 1px;
 background-color: #DBDBDB;
}
@media(max-width:992px){
  .contact {
  
    flex-wrap: wrap;
}
}
/*==================================end contact==============================*/

/*==================================start footer==============================*/
footer{
  color: #FFFFFF;
  background: #012931;
  padding: 30px 10px 40px;
}
.fotter_content{
  display: flex;

  gap: 10px 60px;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .part{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 26px;
}
footer  h1 a{
  font-size: 36px;
line-height: 44px;
margin-bottom: 4px;
color: white;
display: block;
font-family: "Inter";
}
footer  h1 a:hover{
color: white;

}
footer .part h2{
  font-size: 14px;
line-height: 18px;
}
footer .head p{
  font-size: 16px;
line-height: 25px;
max-width: 386px;
}
footer .part .contact2 p{
  font-size: 16px;
line-height: 21px;
color: #FFFFFF;
}
footer .part .links{
display: flex;
flex-direction: column;
gap: 16px;
}
footer .part .links a{
  text-decoration: underline;
  color: white;
}
footer .part .links a:hover{
  color: white;
}
footer .part .contact2{
  display: flex;
  flex-direction: column;
  gap: 18px;
}
footer .part .contact2 a{
  display: flex;
  gap: 12px;
direction: ltr;

}
footer .copy {
display: flex;
align-items: center;
justify-content: space-between;
gap: 40px;
flex-wrap: wrap;
margin-top: 24px;
width: 60%;
}
footer .copy p {
  font-size: 14px;
line-height: 18px;
color: #C5C5C5;
}
footer .copy .links_social{
  display: flex;
  align-items: center;
  gap: 20px ;
}
footer .copy .links_social img{
  width: 20px;
  height: 20px;
  object-fit: contain;

}
@media(max-width:768px){
  footer .copy {
    
    width: 100%;
    }
}
/*==================================end footer==============================*/
